@charset "utf-8";

/* CSS Document */

/* Reset for some browsers */

body, div, h1, h2, h3, p, ul, ol, li, img, header, section, aside, footer, button, figure{
	margin: 0; padding: 0; border: 0; list-style: none;
}

a {
  text-decoration: none;
  color: #961b25;
}

a: hover {
  color: #6f92a7;
}

:focus {
  outline: 0;
}

h1, h2, h3 {
  font-family: Georgia, Palatino, Times, serif;
  font-weight: normal;
}

h2 {
  font-size: 22px;
  line-height: 28px;
}

.float {
  float: left;
}

body {
  background: #f6f6ee url(../img/bck.jpg);
  font-family: "Trebuchet MS", "Helvetica Neue", sans-serif;
  font-size: 12px;
}

/* Header */

header#site_head {
  background: url(../img/bck_head.jpg);
  -moz-box-shadow: inset 0px -2px 3px #480508;
  -khtml-box-shadow: inset 0px -2px 3px #480508;
  -webkit-box-shadow: inset 0px -2px 3px #480508;
  box-shadow: inset 0px -2px 3px #480508;
  border-bottom: 1px solid #fffffb;
  height: 70px;
  width: 100%;
  display: block;
}

	.header_cont {
	  width: 960px;
	  margin: 0 auto;
	  padding-top: 15px;
	}

	.header_cont h1 {
	  text-indent: -9999px;
	  float: left;
	}

	.header_cont h1 a {
	  background: url(../img/logo.png) no-repeat;
	  width: 143px;
	  height: 45px;
	  display: block;
	}

	.header_cont h1 a:hover {
	  background-position: 0 -45px;
	}

	nav.head_nav {
	  float: right;
	  margin-top: 13px;
	}

	nav.head_nav ul li {
		display: inline;
		margin: 0px 5px;
	}

	nav.head_nav ul li a {
		color: #f6f6ee;
		font-size: 12px;
		font-weight: normal;
		text-transform: lowercase;
		padding: 5px 8px;
	}

	nav.head_nav ul li.home a {
		background: #4f1d1e;
		-moz-border-radius: 10px;
		-khtml-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}

	nav.head_nav ul li a:hover {
		text-shadow: 1px 1px 1px #2c0306;
		background: #4f1d1e;
		-moz-border-radius: 10px;
		-khtml-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		-moz-box-shadow: inset 0px 0px 2px #2c0306;
		-khtml-box-shadow: inset 0px 0px 2px #2c0306;
		-webkit-box-shadow: inset 0px 0px 2px #2c0306;
		box-shadow: inset 0px 0px 2px #2c0306;
		color: #f6f6ee;
	}

	nav.head_nav ul li.rss, nav.head_nav ul li.twitter {
		position: relative;
		left: -355px;
		margin: 0;
	}

	nav.head_nav ul li.rss a {
		color: #b4676c;
		border-right: 1px solid #903f43;
		margin: 0;
		padding-left: 20px;
		background: url(../img/rss.png) left no-repeat;
		font-size: 10px;
	}

	nav.head_nav ul li.twitter a {
		color: #b4676c;
		border-right: 1px solid #903f43;
		margin: 0;
		padding-left: 20px;
		background: url(../img/twitter.png) left no-repeat;
		font-size: 10px;
	}

	nav.head_nav ul li.rss a:hover, nav.head_nav ul li.twitter a:hover{
		-moz-border-radius: 0;
		-khtml-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		-moz-box-shadow: none;
		-khtml-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		color: #f6f6ee;
	}

/* Main container */

#main_content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
}

	/* Last Post section*/

	.section_title {
		clear: both;
	}

		.section_title h3 {
			background: url(../img/line.png) no-repeat center center;
			text-align: center;
			font-size: 34px;
			margin: 10px 0px 25px 0px;
			color: #c9c9c0;
			text-shadow: 1px 1px 0px #fff;
		}

	div.single_post {
		float: left;
		width: 447px;
		height: 345px;
		margin: 0 16px 35px 16px;
	}

		img {
			border: 5px solid rgba(255,255,255,0.75);
			-moz-border-radius: 5px;
			-khtml-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			-moz-box-shadow: 0px 0px 5px #c6c6bf;
			-khtml-box-shadow: 0px 0px 5px #c6c6bf;
			-webkit-box-shadow: 0px 0px 5px #c6c6bf;
			box-shadow: 0px 0px 5px #c6c6bf;
		}

		div.single_post footer {
			color: #2f2f28;
			text-align: right;
			font-size: 10px;
		}

		div.single_post ul {
			margin-top: 12px;
			border-right: 3px solid #dbdbd4;
		}

		div.single_post ul li {
			padding: 1px 13px 1px 0;
		}

		div.single_post ul li a {
			font-weight: bold;
		}

		div.art {
			width: 250px;
			display: block;
			background: rgba(255,255,255,0.6);
			border: 1px solid rgba(255,255,255,1);
			-moz-border-radius: 10px;
			-khtml-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			-moz-box-shadow: 0px 0px 5px #c6c6bf;
			-khtml-box-shadow: 0px 0px 5px #c6c6bf;
			-webkit-box-shadow: 0px 0px 5px #c6c6bf;
			box-shadow: 0px 0px 5px #c6c6bf;
			margin-left: 15px;
			overflow: auto;
			float: left;
		}

		div.art:hover {
			background: rgba(255,255,255,1);
		}

		div.single_post header h2 {
			border-bottom: 1px solid #dbdbd4;
			margin: 15px;
			padding-bottom: 15px;
			text-align: center;
		}

		div.single_post p {
			padding: 0 15px;
			font-size: 14px;
			line-height: 20px;
		}
